<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Menu</title>
    </head>
    <body>
        <div id="titulo">
            <h2>Menu Principal</h2>
        </div>
        <div id="botones">
            <button type="button">Inicio</button>
            <button type="button">Salas</button>
            <button type="button">Social</button>
            <button type="button">Admin</button>
        </div>
        <div id="pie">
            <p>Stonks&#8482</p>
        </div>
    </body>
</html>