<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/styles/css/stylesheet_r.css"/>
    <title></title>
    <meta name="description" content="">
    <!-- Mira el RootController, has puesto /r/idsala en lugar de /room/idsala -->
</head>

<body style="background-color: rgb(36, 83, 212);">

    <div class="topnavbar" id=top_navbar >
        <ul style="display:inline-flex" th:each="menu_item: ${menu_content}">
            <button class="btnMenu" th:text="${menu_item}">X</button>

        </ul>
    </div>
    <div class="left_navbar" id=left_navbar style="display:grid">
        <ul style="display:block">
            <li>hola</li>
            <li>hola</li>
            <li>hola</li>
            <li>hola</li>
            <li>hola</li>
            <li>hola</li>

        </ul>
    </div>
</body>

</html>