<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />
</head>

<body>
    <nav class="topnavbar" th:fragment="topbar">
        <span><img th:src="@{/images/logo200x200.png}"/></span>
        <p th:text="${isLogged}">Lol no</p>
        <ul>
            <!-- Si no está loggeado -->
            <div th:unless="${session.isEmpty()}">
                <button id="rooms" onclick="window.location='/rooms'" class="btnMenu">Salas</button>
                <button onclick="window.location='/users'" class="btnMenu">Usuarios</button>
                <button onclick="window.location='/social'" class="btnMenu">Amigos</button>
                <button class="btnMenu">Perfil</button>
                <button class="btnMenu">Cerrar sesión</button>
            </div>
            <!-- Si está loggeado -->
            <div th:if="${session.isEmpty()}">
                <button onclick="window.location='/login'" class="btnMenu">Iniciar Sesión</button>
                <button onclick="window.location='/register'" class="btnMenu">Registrarse</button>
            </div>
        </ul>
    </nav>
</body>

</html>