<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}"/>
    <title>Panel de administrador</title>
</head>
<body>
    <nav th:replace="fragments/menu.html :: topbar"></nav>
    <div id="stats">
        <h2>Estadísticas</h2>
        <ul>
            <li>Puntos estables: 78%</li>
            <li>Usuarios invitados: 34%</li>
            <li>Usuarios VIP: 15%</li>
            <li>Salas de pago: 12%</li>
        </ul>
    </div>
    <div id="users">
        <h2>Usuarios activos</h2>
        <form>
            <input type="text" name="userSearch">
            <select name="filtro">
                <option id="1">VIPs</option>
                <option id="2">Invitados</option>
                <option id="3">Nuevos</option>
                <option id="4">Top</option>
            </select>
            <input type="submit" value="Buscar">
        </form>
        <ul>
            <li th:each="user: ${users}" th:text="${user.username}">No se han encontrado usuarios</li>
        </ul>
    </div>
    <div id="rooms">
        <h2>Salas activas</h2>
        <form>
            <input type="text" name="roomSearch">
            <select name="filtro">
                <option id="1">Gratis</option>
                <option id="2">De pago</option>
                <option id="3">Nuevas</option>
                <option id="4">Top</option>
            </select>
            <input type="submit" value="Buscar">
        </form>
        <ul>
            <li th:each="room: ${rooms}" th:text="${room.name}">No se han encontrado salas</li>
        </ul>
    </div>
</body>
</html>