<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/createRoom.css}" />
    <script>
        var numeros = "0123456789";
        var letras = "abcdefghyjklmnñopqrstuvwxyz";
        var letras_mayusculas = "ABCDEFGHYJKLMNÑOPQRSTUVWXYZ";

        function tiene_numeros(texto) {
            for (i = 0; i < texto.length; i++) {
                if (numeros.indexOf(texto.charAt(i), 0) != -1) {
                    return 1;
                }
            }
            return 0;
        }

        function tiene_letras(texto) {
            texto = texto.toLowerCase();
            for (i = 0; i < texto.length; i++) {
                if (letras.indexOf(texto.charAt(i), 0) != -1) {
                    return 1;
                }
            }
            return 0;
        }

        function tiene_minusculas(texto) {
            for (i = 0; i < texto.length; i++) {
                if (letras.indexOf(texto.charAt(i), 0) != -1) {
                    return 1;
                }
            }
            return 0;
        }

        function tiene_mayusculas(texto) {
            for (i = 0; i < texto.length; i++) {
                if (letras_mayusculas.indexOf(texto.charAt(i), 0) != -1) {
                    return 1;
                }
            }
            return 0;
        }

        function seguridad_clave(clave) {
            var seguridad = 0;
            if (clave.length != 0) {
                if (tiene_numeros(clave) && tiene_letras(clave)) {
                    seguridad += 30;
                }
                if (tiene_minusculas(clave) && tiene_mayusculas(clave)) {
                    seguridad += 30;
                }
                if (clave.length >= 4 && clave.length <= 5) {
                    seguridad += 10;
                } else {
                    if (clave.length >= 6 && clave.length <= 8) {
                        seguridad += 30;
                    } else {
                        if (clave.length > 8) {
                            seguridad += 40;
                        }
                    }
                }
            }
            return seguridad
        }

        function modificar(seguridad) {
            document.getElementById("porcentajeBarra").style.width = seguridad + "%";
            // Rojo
            if (seguridad <= 30) document.getElementById("porcentajeBarra").style.backgroundColor = "#ff0000";
            // Amarillo
            else if (seguridad <= 60) document.getElementById("porcentajeBarra").style.backgroundColor = "#ffff00";
            // Verde
            else document.getElementById("porcentajeBarra").style.backgroundColor = "#00ff00";
        }

        function muestra_seguridad_clave(clave, formulario) {
            seguridad = seguridad_clave(clave);
            //formulario.seguridad.value = seguridad + "%";
            modificar(seguridad);
        }
    </script>
    <title>Crear Sala</title>
</head>

<body>
    <nav class="topnavbar" th:replace="fragments/menu.html :: topbar">X</nav>
    <div class="visualizer">

        <!-- CREAR UNA SALA -->
        <form class="Formulario" method="POST">
            <h1 class="form-text">CREAR UNA SALA</h1>
            <!-- NOMBRE DE LA SALA -->
            <p class="form-text">Nombre de la sala</p>
            <input type="text" name="roomName" placeholder="Nombre de la Sala">

            <!-- Privacidad y contraseña -->
            <p class="form-text">Privacidad</p>
            <select class="likeInput">
                <option id="1">Privada (contraseña)</option>
                <option id="2">Pública</option>
            </select>
            <!-- Se comprueba el nivel de seguridad de la primera, y la segunda tiene que ser igual -->
            <input type="password" name="password" maxlength="15" placeholder="Contraseña" onkeyup="muestra_seguridad_clave(this.value, this.form)">
            <input type="password" name="repitedPassword" maxlength="15" placeholder="Repite la contraseña">
            <span id="porcentajeBarra" style="width: 50%"></span>

            <!-- Privacidad y contraseña -->
            <p class="form-text">Número de jugadores</p>
            <input type="number" maxlength="3" max="10" name="numPlayers" placeholder="Número de jugadores">

            <!-- Dinero inicial -->
            <p class="form-text">Cantidad de dinero inicial</p>
            <input type="number" maxlength="7" name="startMoney" placeholder="Dinero inicial">

            <!-- Dinero extra -->
            <p class="form-text">Cantidad de dinero extra</p>
            <select class="likeInput">
                <option id="1">Diariamente</option>
                <option id="2">Semanalmente</option>
                <option id="3">Mensualmente</option>
                <option id="4">Nunca</option>

            </select>
            <input type="number" maxlength="7" name="extraMoney" placeholder="Dinero extra">

            <!-- Fecha límite -->
            <p class="form-text">Fecha límite</p>
            <input type="date" id="finih" name="finish" value="2021-07-22" min="2021-04-06" max="2022-04-06">

            <!-- Dinero para ganar -->
            <p class="form-text">Dinero para ganar</p>
            <input type="checkbox">
            <input type="number" maxlength="8" name="winMoney" placeholder="Dinero para ganar">
            <br>
            <input type="submit" placeholder="Check" value="Crear sala">
        </form>
    </div>
</body>

</html>