<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Stonks</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/logIn.css}" />

        <!-- <script src="../static/js/c3.js"></script>
        <script src="../static/js/d3.js"></script> -->

        <script th:src="@{/js/c3.js}"></script>
        <script th:src="@{/js/d3.js}"></script>
        <script th:src="@{/js/graphics.js}"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/css/c3.css}">
    </head>

    <body>
        <nav th:replace="fragments/menu.html :: topbar"></nav>
        <div class="visualizer">

            <h2>Top Jugadores</h2>
            <ol>
                <li th:each="user: ${topUsers}"><a th:href="@{/u/{id}(id=${user.id})}" th:text="${user.username}">No se han encontrado usuarios</a></li>
            </ol>

            <h2>Top Salas</h2>
            <ol>
                <li th:each="room: ${topRooms}"><a th:text="${room.name}" th:href="@{/r/{id}(id=${room.id})}" th:id="${room.name}">No se han encntrado salas</a></li>
            </ol>
            <h2>Mayor crecimiento hoy</h1>
        </div>
        <div id="chart">
            <script>
                cargarIndices();
            </script>
        </div>
    </body>
</html>