<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/logIn.css}" />
    <title>Stonks</title>
</head>

<body>
    <nav class="topnavbar" th:replace="fragments/menu.html :: topbar">X</nav>
    <div class="visualizer">

        <a href="logIn">INICIAR SESION</a>
        <a href="createRoom">CREAR SALA</a>

        <h2>Top Jugadores</h2>
        <ol>
            <li th:each="user: ${topUsers}" th:text="${user.username}">No se han encontrado usuarios</li>
        </ol>

        <h2>Top Salas</h2>
        <ol>
            <li th:each="room: ${topRooms}" th:text="${room.name}">No se han encontrado salas</li>
        </ol>

        <button onclick="window.location.href='/r'">Crear sala</button>
        <button onclick="window.location.href='/rooms'">Buscar sala</button>
    </div>
</body>

</html>