<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logIn.css}" />
    <title>Login</title>
    <th:block th:replace="fragments/head ::header" />
</head>

<body>
    <!-- CAJA DE INICIAR SESION -->
    <form th:action="@{/login}" method="post" class="LogInBox">
        <h1>LOGIN</h1>
        <input type="text" id="username" name="username" placeholder="Nombre de usuario">
        <input type="password" id="password" name="password" placeholder="Contraseña">
        <input type="submit" placeholder="Iniciar Sesión" value="Iniciar sesión">
        <p id="CrearCuenta">¿No tienes una cuenta? <a href="register">Regístrate</a></p>
        <p id="CrearCuenta">¿Has perdido la contraseña? De momento te jodes :)</p>
    </form>
</body>

</html>
