<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logIn.css}" />
    <title>Login</title>
</head>

<body>
    <!-- CAJA DE INICIAR SESION -->
    <form class="LogInBox">
        <h1>LOGIN</h1>
        <input type="text" name="username" placeholder="Nombre de usuario">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="submit" placeholder="Iniciar Sesión" value="Iniciar sesión">
        <p id="CrearCuenta">¿No tienes una cuenta? <a href="register">Registrate</a></p>
        <p id="CrearCuenta">¿Has perdido la contraseña? De momento te jodes :)</p>
    </form>
</body>

</html>