<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}"/>
    <title th:text="${room.name}">No se encontró la sala</title>
</head>

<body>

    <nav th:replace="fragments/menu.html :: topbar"></nav>
    <nav th:replace="fragments/left_navbar :: my_rooms"></nav>

    <div class="rightnavbar" id=right_navbar>
        <p>Usuarios en la sala</p>
        <ul>
            <li th:each="user: ${users_inroom}"><a th:href="@{/u/{id}(id=${user.id})}" th:text="${user.username}">No se han encontrado usuarios en esta sala</a></li>
        </ul>
    </div>

    <div class="visualizer">
        
        <h1 th:text="${room.name}">No se encontró la sala</h1>

        <div th:if="${membership == null}">
            <form method="POST" th:action="@{/r/joinRoom}">
                No perteneces a esta sala
                <input type="hidden" name="room_id" th:value="${room.id}">
                <input type="submit" value="Unirme">
            </form>
        </div>

        <span><img th:src="@{/images/stockexample.jpg}" /></span>

        <div th:if="${membership != null}">
            <!-- Buy stocks -->
            <form class="action_buy" method="POST" th:action="@{/action_buy}">
                <input type="hidden" name="room_id" th:value="${room.id}">
                <select name="stockName">
                <!-- TODO: parsear esto desde el TH, con el valor de la hora -->
                    <option name="TSLA"> TSLA </option>
                    <option name="AAPL"> AAPL </option>
                    <option name="MSFT"> MSFT </option>
                    <option name="AMZN"> AMZN </option>
                    <option name="FB"> FB </option>
                </select>
                <input type="number" id="amount" placeholder="Cantidad" name="amount" size="20">
                <input type="submit" value="Comprar">
            </form>

            <button>Vender</button>
            <button>Vender todo</button>

            <!-- Información de las acciones del usuario -->
            <div class="player_info">
                <p>Balance: <span th:text="${membership.balance}"></span></p>

                <p>Posiciones</p>
                <p th:if="${#lists.size(positions) == 0}">Todavía no tienes posiciones</p>
                <table>
                    <tr th:each="position: ${positions}">
                        <td th:text="${position.indexName}"></td>
                        <td th:text="${position.quantity}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

</html>