<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}"/>
    <title>Sala</title>
</head>

<body>

    <nav class="topnavbar" th:replace="fragments/menu.html :: topbar">X</nav>

    <div class="leftnavbar" id=left_navbar>
        <p>Otras salas</p>
        <ul>
            <li th:each="room: ${rooms}"><a th:text="${room.name}"></a></li>
        </ul>
    </div>

    <div class="rightnavbar" id=right_navbar>
        <p>Usuarios en la sala</p>
        <ul>
            <li th:each="user: ${users_inroom}" th:text="${user.username}">No se han encontrado usuarios en esta sala</li>
        </ul>
    </div>

    <div class="visualizer">
        
        <h1 th:text="${room.name}">No market found</h1>
        <span><img th:src="@{/images/stockexample.jpg}" /></span>
        <ul>
            <li>
                <button>Buy</button>
                <button>Sell</button>
                <BUTTON>Sell all positions</BUTTON>
            </li>
        </ul>
        <div class="player_info">
            <p>
                Player info:
                <li>
                    <p>AMC- 20</p>
                    <p>BTC- 50</p>
                </li>
            </p>
        </div>
        
    </div>

</body>

</html>