<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${room.name}">No se encontró la sala</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>

    <nav th:replace="fragments/menu.html :: topbar"></nav>
    <nav th:replace="fragments/left_navbar :: my_rooms"></nav>

    <div class="rightnavbar" id=right_navbar>
        <p>Usuarios en la sala</p>
        <ul>
            <li th:each="user: ${users_inroom}"><a th:href="@{/u/{id}(id=${user.id})}" th:text="${user.username}">No se han encontrado usuarios en esta sala</a></li>
        </ul>
    </div>

    <div class="visualizer">
        
        <h1 th:text="${room.name}">No se encontró la sala</h1>

        <div th:if="${membership == null}">
            <form method="POST" th:action="@{/r/joinRoom}">
                No perteneces a esta sala
                <input type="hidden" name="room_id" th:value="${room.id}">
                <input type="submit" value="Unirme">
            </form>
        </div>

        <span><img th:src="@{/images/stockexample.jpg}" /></span>

        <div th:if="${membership != null}">
            <!-- Información de las acciones del usuario -->
            <div class="player_info">
                <p>Balance: <span th:text="${membership.balance}"></span></p>

                <p>Posiciones</p>
                <p th:if="${#maps.isEmpty(stocks)}">Todavía no tienes posiciones</p>
                <table>
                    <tr th:each="stock: ${stocks}">
                        <td th:text="${stock.key.name}"></td>
                        <td th:text="${stock.value}"></td>
                    </tr>
                </table>
            </div>

            <!-- Buy stocks -->
            <form class="action_buy" method="POST" th:action="@{/buy}">
                <input type="hidden" name="room_id" th:value="${room.id}">
                <select name="symbol_id">
                    <option th:each="symbol: ${symbols}" th:value="${symbol.id}" th:text="${symbol.name}"></option>
                </select>
                <input type="number" id="quantity" placeholder="Cantidad" name="quantity"`>
                <button type="submit">Comprar</button>
            </form>

            <!-- Sell stocks (only if user has)-->
            <form th:unless="${#maps.isEmpty(stocks)}" class="action_sell" method="POST" th:action="@{/sell}">
                <input type="hidden" name="room_id" th:value="${room.id}">
                <select name="symbol_id">
                    <option th:each="symbol: ${symbols}" th:value="${symbol.id}" th:text="${symbol.name}"></option>
                </select>
                <input type="number" id="quantity" placeholder="Cantidad" name="quantity">
                <button type="submit">Vender</button>
            </form>
        </div>
    </div>

</body>

</html>