<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>

    <nav th:replace="fragments/menu.html :: topbar"></nav>
    <nav th:replace="fragments/left_navbar :: my_rooms"></nav>

    <div class="visualizer">
        <h1>Salas</h1>
        <h2>Buscador de salas</h2>
        <form>
            <input type="text" name="roomSearch"><input type="submit" value="Buscar">
            <select name="roomType">
                <option id="1">Públicas</option>
                <option id="2">Privadas</option>
                <option id="3">Todas</option>
            </select>
        </form>
        <ol id="results-rooms">
            <li th:each="room: ${topRooms}"><a th:text="${room.name}" th:href="@{/r/{id}(id=${room.id})}" th:id="${room.name}">No se han encntrado salas</a></li>
        </ol>

        <a th:href='@{/r/createRoom}'>Crear sala</a>
    </div>
    
</body>
</html>
