<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form class="action_buy" method="POST" th:action="@{/action_buy}">
            <p>Id de miembro en una sala: <input type="text" name="id" size="20"></p>
            <select name="stockName">
            // TODO: parsear esto desde el TH, con el valor de la hora.
                <option value="TSLA" name="TSLA"> TESLA </option>
                <option value="TSLA"> AAPL </option>
                <option value="TSLA"> MSFT </option>
                <option value="TSLA"> AMZN </option>
                <option value="TSLA"> FB </option>
            </select>
            <p>Cuantas quieres bro <input type="text" name="amount" size="20"></p>
            <p>
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </p>
        
        </form>
        
       
    </body>
</html>