<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salas</title>
    <th:block th:replace="fragments/head ::header" />
    <link rel="stylesheet" th:href="@{/css/bulma.min.css}">
</head>
<body>
    <nav th:replace="fragments/menu.html :: topbar"></nav>
    <div class="columns m-3">
        <div class="column is-2">
            <nav th:replace="fragments/left_navbar :: my_rooms"></nav>
        </div>
        <div class="column">
            <div class="content">
                <h1>Salas</h1>
            </div>
            <a class="button is-danger" th:href='@{/r/createRoom}' id="createRoom">Crear sala</a>
            <br><br>
            <div class="content">
                <h2>Salas populares </h2>
                <ul id="top-rooms">
                    <li th:each="room: ${topRooms}"><a th:text="${room.name}" th:href="@{/r/{id}(id=${room.id})}" th:id="${room.name}">No se han encntrado salas</a></li>
                </ul>
            </div>
            <nav th:replace="fragments/roomSearch.html :: roomSearch"></nav>
        </div>
    </div>   
</body>
</html>
