<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
    <body>
        <nav th:replace="fragments/menu.html :: topbar"></nav>
    <div class="visualizer">
        <!-- LISTA PRINCIPAL -->
            <div id="botones">
                <button type="button">Mis amigos</button>
                <button type="button">Solicitudes de amistad</button>
                <button type="button">Buscar jugadores</button>
            </div>
    </div>
        <h2> LISTA DE AMIGOS </h2>
            <div id="amigos">
                <ol>
                    <li>
                        Amigo 1
                        <button type="button">Ver perfil</button>
                        <button type="button">Invitar a una sala</button>
                        <button type="button">Mensajes</button>
                        <button type="button">Eliminar amigo</button>
                    </li>
                    <li>Amigo 2</li>
                    <li>Amigo N</li>
                </ol>
            </div>

        <h2> SOLICITUDES DE AMISTAD </h2>
            <div id="solicitudes">
                <ol>
                    <li>
                        Solicitud 1
                        <button type="button">Aceptar</button>
                        <button type="button">Rechazar</button>
                    </li>
                    <li>Solicitud 2</li>
                    <li>Solicitud N</li>
                </ol>
            </div>

        <h2> BUSCAR UN JUGADOR </h2>

            <form>
                <input type="text" name="roomSearch" onfocus="this.value=''" value="Nombre de usuario o #12465" size="30px">

                <button onclick="buscarJugador()">Buscar</button>

            </form>
            <br>
            <div id="playerFound" >
                Nombre del jugador #12465 
                <button type="button">Ver perfil</button>
                <button type="button">Invitar a una sala</button>
                <button type="button">Mandar solicitud de amistad</button>
            </div>


        <script>
            function buscarJugador() {
                var x = document.getElementById("playerFound");
    
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </body>
</html>