<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salas</title>
    <th:block th:replace="fragments/head ::header" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
    <body>
        <nav th:replace="fragments/menu.html :: topbar"></nav>
    <div class="visualizer">
        <!-- LISTA PRINCIPAL -->
            <div id="botones">
                <button id=myFollowers type="button">Mis seguidores</button>
                 <!-- HACEMOS QUE ESTE BOTÓN ENSEÑE CON AJAX MIS SEGUIDORES -->
                <button id=myFollowing type="button">Mis seguidos</button>
                 <!-- HACEMOS QUE ESTE BOTÓN ENSEÑE CON AJAX MIS seguidos -->
                <button id=searchPlayers type="button">Buscar jugadores</button>
                <!-- HACEMOS QUE ESTE BOTÓN ENSEÑE CON AJAX LA BUSQUEDA DE SEGUIDORES -->
            </div>
    </div>
        <h2> Mis seguidos </h2>                          <!-- Segun entras -->
            <div id="Seguidos">
                <ol>
                    <li>
                        Amigo 1
                        <button type="button">Ver perfil</button>
                         <!-- REDIRECT A /u/id  -->
                        <button type="button">Invitar a una sala</button>
                        <!-- TODO: MANERA DE QUE EN MI PERFIL ME SALGAN INVITACIONES A SALAS -->
                        
                        <button type="button">Eliminar seguidor</button>
                        <!-- PEDIR A LA API QUE BORRE SEGUIDOR  -->
                    </li>
                    
                </ol>
            </div>

       

        <h2> BUSCAR UN JUGADOR </h2>

            <form>
                <input type="text" name="roomSearch" onfocus="this.value=''" value="Nombre de usuario o #12465" size="30px">

                <button onclick="buscarJugador()">Buscar</button>

            </form>
            <br>
            <div id="playerFound" >
                Nombre del jugador #12465 
                <button type="button">Ver perfil</button>
                <button type="button">Invitar a una sala</button>

            </div>
    </body>
</html>