<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salas</title>
    <th:block th:replace="fragments/head ::header" />
    <link rel="stylesheet" th:href="@{/css/bulma.min.css}">
</head>
    <body>
        <nav th:replace="fragments/menu.html :: topbar"></nav>

        <div class="content m-3">
            <h1>Seguidores</h1>
        </div>

        <div class="columns m-3">
            <div class="column is-one-third">
                <div class="content">
                <h2>Social</h2>
                <!-- LISTA PRINCIPAL -->
                    <div id="botones">
                        <button class="button is-link" id="myFollowers" type="button">Mis seguidores</button>
                         <!-- HACEMOS QUE ESTE BOTÓN ENSEÑE CON AJAX MIS SEGUIDORES -->
                        <script th:inline="javascript">
                            userId = /*[[${session.u.id}]]*/ null;
                            document.addEventListener("DOMContentLoaded",()=>{
                            let b = document.getElementById('myFollowers');
                            b.onclick =(e)=>{
                                    e.preventDefault();
                                    go(config.rootUrl+'api/getFollowers?userId='+userId+'','GET')
                                    .then(function(response){
                                        console.log(response);

                                        let fOL = document.getElementById('fUL');
                                        fOL.style.removeProperty('display');
                                        fOL.innerHTML = "";
                                        
                                        response.forEach(user=>{
                                            let newLi = document.createElement('li');
                                            newLi.innerHTML = "<a href='/u/"+user.id+"'>"+user.username+"</a>";
                                            fOL.appendChild(newLi);
                                            let bInvite = document.createElement('button');
                                            binvite.innerHTML = "<button class="+"button is-small is-primary"+" type="+"button>Invitar</button>"


                                        });
                                    })
                                }
                            });
                        </script>  
                        <br><br>
                        <button class="button is-link" id=myFollowing type="button">Mis seguidos</button>
                         <!-- HACEMOS QUE ESTE BOTÓN ENSEÑE CON AJAX MIS seguidos -->
                        <br><br>
                        <button class="button is-primary" id=searchPlayers type="button">Buscar jugadores</button>
                        <!-- HACEMOS QUE ESTE BOTÓN ENSEÑE CON AJAX LA BUSQUEDA DE SEGUIDORES -->
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="content">
                    <h2> Mis seguidos </h2>                          <!-- Segun entras -->
                        <div id="Seguidos" >
                            <ul id="mfUL" style="display:none;">
                                

                            </ul>
                        </div>
                </div>
                <div class="content">
                    <h2> Mis seguidores </h2>                          <!-- Segun entras -->
                        <div id="Seguidores">
                            <ul id="fUL" style="display:none;">
                                

                            </ul>
                        </div>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h2>Buscar un jugador</h2>

                    <form>
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="input" type="text" name="roomSearch" onfocus="this.value=''" placeholder="Nombre de usuario o #12465" size="30px">
                            </div>
                            <div class="con<trol">
                                <button class="button is-link" onclick="buscarJugador()">Buscar</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div id="playerFound">
                        Nombre del jugador #12465
                        <br>
                        <button class="button is-small is-link" type="button">Ver perfil</button>
                        <button class="button is-small is-primary" type="button">Invitar</button>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>