<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${user.username}">No se encontró el usuario</title>
    <th:block th:replace="fragments/head ::header" />
    <link rel="stylesheet" th:href="@{/css/bulma.min.css}">
</head>

<body>
    <nav th:replace="fragments/menu.html :: topbar"></nav>

    <div class="content m-3">
        <h1>Perfil de <span th:text="${user.username}"></span></h1>
        <button id="enable" th:if='${session.u.hasRole("ADMIN") and session.u.id != user.id}'></button>
    </div>
    <div  class="columns m-3" >
        <h2 id="not-enabled" style="display: none;">Parece que este usuario no está disponible ahora mismo...</h2>
    </div>
    <div id="enabled" class="columns m-3" style="display: none;">
        <div class="column is-one-quarter">
            <div class="content">
                <h4>Nombre</h4>
                <div><span th:text="${user.name}"></span> <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></div>
                <br>
                <h4>Roles</h4>
                <div th:text="${user.roles}"></div>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="content">
                <h2>Salas de <span th:text="${user.username}"></span></h2>
                <ul><li th:each="room: ${user_rooms}"><a th:text="${room.name}" th:href="@{/r/{id}(id=${room.id})}" th:id="${room.name}">No pertenece a ninguna sala</a></li></ul>
                <h4>Partidas ganadas</h4>
                <p th:if="${#lists.isEmpty(user.wonRooms)}">Todavía no ha ganado ninguna sala :(</p>
                <ul th:unless="${#lists.isEmpty(user.wonRooms)}"><li th:each="room: ${user.wonRooms}"><a th:text="${room.name}" th:href="@{/r/{id}(id=${room.id})}" th:id="${room.name}">Todavía no ha ganado ninguna sala</a></li></ul>

                <div th:if="${session.u.id != user.id}">
                    <button id="buttonFollow"></button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function udpateEnable(){
            go(config.rootUrl + 'api/getEnabled?u=' + /*[[${user.id}]]*/ + '', 'GET')
                .then(function(response){
                    if (response.enabled){
                        document.getElementById('enabled').style.removeProperty('display');
                        document.getElementById('not-enabled').style.display = 'none';
                    }
                    else{
                        document.getElementById('not-enabled').style.removeProperty('display');
                        document.getElementById('enabled').style.display = 'none';
                    }
                });
        }

        document.addEventListener("DOMContentLoaded", () => {
            udpateEnable();
        });
    </script>
    <script th:inline="javascript" th:if='${session.u.hasRole("ADMIN") and session.u.id != user.id}'>
        function updateEnableButton(){
            go(config.rootUrl + 'api/getEnabled?u=' + /*[[${user.id}]]*/ + '', 'GET')
                .then(function(response){
                    let enable_button = document.getElementById("enable");

                    if (response.enabled){
                        enable_button.setAttribute('class', 'button is-danger');
                        enable_button.innerHTML = "Desactivar usuario"
                    }
                    else{
                        enable_button.setAttribute('class', 'button is-success');
                        enable_button.innerHTML = "Activar usuario"
                    }
                });
        }

        document.addEventListener("DOMContentLoaded", () => {
            updateEnableButton();

            let b = document.getElementById("enable");
            b.onclick = (e)=>{
                e.preventDefault();

                go(config.rootUrl + 'admin/toggleUser', 'POST', {
                    id: /*[[${user.id}]]*/ ""
                })
                .then((data)=>{
                    updateEnableButton();
                    udpateEnable();
                });
            }
        });
    </script>
    <script th:inline="javascript" th:if="${session.u.id != user.id}">
        function updateFollowButton(){
            let follow_button = document.getElementById('buttonFollow');

            go(config.rootUrl + 'api/isFollowing?u=' + /*[[${user.id}]]*/ + '', 'GET')
                .then(function(response){
                    console.log(response)
                    if(response.result){
                        follow_button.setAttribute('class', 'button is-Success');
                        follow_button.innerHTML = "Dejar de seguir";
                        action = "unfollow";
                    }
                    else {
                        follow_button.setAttribute('class', 'button is-info');
                        follow_button.innerHTML = "Seguir";
                        action = "follow";
                    }
                })
        }

        document.addEventListener("DOMContentLoaded", () => {
            updateFollowButton()

            let b = document.getElementById('buttonFollow');
            b.onclick = (e)=>{
                e.preventDefault();

                go(config.rootUrl + 'api/' + action, 'POST', {
                    user: /*[[${user.id}]]*/ ""
                })
                    .then((data)=>{
                        updateFollowButton()
                    });
            }
        });
    </script>
</body>
</html>