<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/createRoom.css}" />
    <title>User</title>
</head>

<body>
    <!-- Barra principal -->
    <nav th:replace="fragments/menu.html :: topbar"></nav>
    <div class="visualizer">
        <form class="Formulario" method="POST">
            <h1 class="form-text">DATOS DEL USUARIO</h1>

            <p class="form-text">ID</p>
            <li>ID1</li>

            <p class="form-text">¿Activo?</p>
            <li>Si</li>

            <p class="form-text">Nombre de usuario</p>
            <li>Nombre usuario 1</li>

            <p class="form-text">Rol</p>
            <li>Rol1</li>

            <p class="form-text">Nombre</p>
            <li>Nombre1</li>

            <p class="form-text">Apellido</p>
            <li>Apellido1</li>

            <!-- TODO activo en salas..., Ganancias, etc -->
        </form>
    </div>
</body>

</html>