<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usuarios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
    <nav th:replace="fragments/menu.html :: topbar"></nav>
    <div class="content m-3">
        <h1>Usuarios</h1>
    </div>
    <div class="columns m-3">
        <div class="column is-one-fifth">
        <div class="field">
            <label class="label">Buscar usuarios</label>
        </div>
        <form>
            <div class="field is-grouped">
                    <div class="control">
                        <input class="input" type="text" name="userSearch" placeholder="Usuario">
                    </div>
                    <div class="control">
                        <button class="button is-link" type="submit">Buscar</button>
                    </div>
            </div>
        </form>
        </div>
        <div class="column">
            <div class="content">
                <h2>Top usuarios</h2>
                <ol>
                    <li th:each="user: ${topUsers}"><a th:href="@{/u/{id}(id=${user.id})}" th:text="${user.username}">No se han encontrado usuarios en esta sala</a></li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>
